@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
}
html {
  scroll-behavior: smooth;
}
.bd {
  border: 1px solid red;
}
.button-shadow {
  box-shadow: 0px 12px 16px 0px #3f8cff40;
}

.solid-button:hover {
  box-shadow: 0px 12px 16px 0px #3f8cff40;
}
@keyframes scaleLoop {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.scale-animation {
  animation: scaleLoop 2s ease-in-out infinite;
}
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-color: #25d366;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: var(--z-floating-buttons);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  transition: all 0.3s ease;
  padding: 0;
}

.whatsapp-button:hover {
  background-color: #128c7e;
  transform: scale(1.1);
}

.whatsapp-button-inner {
  background-color: #25d366;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: var(--z-floating-buttons);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  transition: all 0.3s ease;
  padding: 0;
}
.whatsapp-button-inner:hover {
  background-color: #128c7e;
  transform: scale(1.1);
}

.custom-popup .ant-modal-close {
  top: 28px !important;
  right: 30px !important;
}

.custom-popup .ant-modal-close {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: white; /* ہلکی سی سفید بیگراؤنڈ */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

/* ✅ Hover effect */
.custom-popup .ant-modal-close:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* ✅ اندر کا icon white کر دیا */
.custom-popup .ant-modal-close-x {
  font-size: 14px;
  margin: 0; /* center perfectly */
}
